@import "reset.css";
@import "variable.css";

@import "status-bar.css";
@import "welcome-header.css";
@import "screen-header.css";
@import "friends.css";
@import "user-components.css";
@import "components/badge.css";
@import "components/alt-screen-header.css";
@import "components/icon-row.css";
@import "components/no-mobile.css";
@import "find.css";
@import "more.css";
@import "setting.css";
@import "chat.css";


@import "nav-bar.css";


body{
    background-color: #212121;
    font-family: -apple-system,system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#login-form{
    display: flex;
    flex-direction: column;
    gap: 7px;
    position: relative;
    color: white;
}

#login-form .username_label {
    font-size: 15px;
    padding-left: 10px;
    position: absolute;
    top: 13px;
    transition: 0.3s;
    pointer-events: none;
}

#login-form input{
    width: 200px;
    height: 45px;
    border: none;
    outline: none;
    padding: 0px 7px;
    border-radius: 6px;
    color: #fff;
    font-size: 15px;
    background-color: transparent;
    box-shadow: 3px 3px 10px rgba(0,0,0,1),
    -1px -1px 6px rgba(255, 255, 255, 0.4);
}

.input:focus {
    border: 2px solid transparent;
    color: #fff;
    box-shadow: 3px 3px 10px rgba(0,0,0,1),
    -1px -1px 6px rgba(255, 255, 255, 0.4),
    inset 3px 3px 10px rgba(0,0,0,1),
    inset -1px -1px 6px rgba(255, 255, 255, 0.4);
  }
  
   #login-form .input:valid ~ .username_label,
   #login-form .input:focus ~ .username_label {
    transition: 0.3s;
    padding-left: 2px;
    transform: translateY(-35px);
  }
  
   #login-form .input:valid,
   #login-form .input:focus {
    box-shadow: 3px 3px 10px rgba(0,0,0,1),
    -1px -1px 6px rgba(255, 255, 255, 0.4),
    inset 3px 3px 10px rgba(0,0,0,1),
    inset -1px -1px 6px rgba(255, 255, 255, 0.4);
  }

  .main-screen{
    padding: 0px var(--horizontal-space);
}