.alt-header {
    padding: var(--horizontal-space);
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.alt-header__title {
    color: #58BC82;
    font-size: 32px;
    font-weight: 600;
}

.alt-header__column:first-child {
    color: white;
    margin-right: auto;
}


.alt-header__column:nth-child(2) {
    text-align: center;
}

.alt-header__column span:last-child {
    margin-left: 20px;
    display: flex;
    justify-content: flex-end;
}

.alt-header__column:last-child {
    color: white;
    margin-left: auto;
}

.alt-header__column__chat {
    display: flex;
}
