.badge{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.badge i{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 6px;
    left: 12px;
}

.badge span{
    position: relative;
}

.badge i{
    color: #418FDE;
}